* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
}

#root {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 768px) {
  #root {
    padding: 10px;
  }
}
